<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <title>Bezier Curve</title>
  </head>
  <body>
    <div class="d-flex justify-content-center">
      <h1>Bezier Calulator for 4 control points</h1>
    </div>
    <div class="d-flex justify-content-center">
      <h3>Seperate using space</h3>
    </div>
    <div>
      <form action="/result" method="POST">
        <div class="form-group">
          <label for="us">U values</label>
          <input
            type="text"
            class="form-control"
            id="us"
            name="us"
            aria-describedby="U values"
          />
        </div>
        <div class="form-group">
          <label for="p0">P0</label>
          <input type="text" class="form-control" id="p0" name="p0" />
        </div>
        <div class="form-group">
          <label for="p1">P1</label>
          <input type="text" class="form-control" id="p1" name="p1" />
        </div>
        <div class="form-group">
          <label for="p2">P2</label>
          <input type="text" class="form-control" id="p2" name="p2" />
        </div>
        <div class="form-group">
          <label for="p3">P3</label>
          <input type="text" class="form-control" id="p3" name="p3" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
